<h1>Editing time table</h1>

<%= render "form", time_table: @time_table %>

<br>

<div>
  <%= link_to "Show this time table", @time_table %> |
  <%= link_to "Back to time tables", time_tables_path %>
</div>
