<div id="<%= dom_id punch %>">
  <p>
    <strong>Sub task:</strong>
    <%= punch.sub_task_id %>
  </p>

  <p>
    <strong>Punch in:</strong>
    <%= punch.punch_in %>
  </p>

  <p>
    <strong>Punch out:</strong>
    <%= punch.punch_out %>
  </p>

</div>
