<div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
  <b>Dedicate every waking hour to Work, Learning, Family and Health for the next three years (2025–2027). </b>
  <ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <b>Work - Key To Success Is Work Every Waking Hour <span style="color: red;">**<span></b>
    <span class="badge text-bg-primary rounded-pill">1</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <b>Learning</b>
    <span class="badge text-bg-primary rounded-pill">2</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <b>Family</b>
    <span class="badge text-bg-primary rounded-pill">3</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <b>Health</b>
    <span class="badge text-bg-primary rounded-pill">4</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <b>Long-term plan: 1 month, 6 months, 1 year, 3 years, 5 years, and 10 years.</b>
    <span class="badge text-bg-primary rounded-pill">5</span>
  </li>



</ul>
</div>

<p style="color: green"><%= notice %></p>
<h3>Sprints</h3>
<div id="sprints">
  <table class="table table-bordered border-primary">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Achieved</th>
        <th scope="col">Target</th>
        <th scope="col">Is active</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @sprints.each_with_index do |sprint, index| %>
        <%= render partial: 'sprint', locals: {sprint: sprint, index: index } %>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to "New sprint", new_sprint_path %>
